<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
        <roleManager enabled="true"/>
    <authentication mode="Forms" />

    
    <authorization>
      <deny users="?"/>
      <deny users="?"/>
    </authorization>
  </system.web>   
  
    <!-- Allow all User for Home page -->
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Allow all User for Home page -->
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
      
      <!-- Allow Only Admin to Acces transfer Windows-->
  <location path="TransferWindow.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
    <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="Assignment3" connectionString="Data Source=Koflax;Initial Catalog=Assignment3;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=Koflax;Initial Catalog=Assignment3;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>